.card{
    margin-left: 20%;
    width: 700px;
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
}

.card button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card h2{
    text-align: center;
}

.card P{
    text-align: center;
}


.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
    margin-top: 45%;
    margin-left: 45%;
  }
  .lds-circle > div {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 8px;
    border-radius: 50%;
    background: #cef;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }

  .spiner-display-none{
    display: none;
  }